*{margin: 0;}

.main__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.sub__container{
    height: 260px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #aaaaaa;     
    background-color: #fff;
}

.row{
    display: flex;
    padding: 10px 10px 10px 10px;
    
}

.row div{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 2px solid black;
    object-fit: contain;
    font-size: 30px;
}

.row div:nth-child(2){
   margin-left: 25px;
   margin-right: 25px;
}

.Resetgrid{
    width: 300px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 4px;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.ResetWin{
    width: 300px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 4px;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.player1{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: skyblue;
    padding: 6px 4px 4px 4px;
    font-size: 20px;
    border-radius: 4px;
}
.player2{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
    padding: 6px 4px 4px 4px;
    font-size: 20px;
    border-radius: 4px;
}
@media (max-width:250px){
   
    
    .sub__container{
        height: 200px;
        width: 200px;
        box-shadow: none;
        justify-content: space-evenly;
    }

    .row div{
        height: 40px;
        width: 40px;
    }

    .row div:nth-child(2){
        margin-left: 5px;
        margin-right: 5px;
    }
}
